.faq{
    background: #f2f2f2;
    padding-bottom: 70px;
    &__title{
        font-size: 36px;
        color: #014d8f;
        letter-spacing: 1.2px;
        text-align: center;
        margin: 70px 0 50px 0;
    }
    &__img{
        display: block;
        margin: auto;
    }
    &__faq{
        margin-top: 70px;
    }
    &__item{
        @include display(flex);
        @include justify-content(space-between);
        @include align-items(center);
        padding: 15px 0;
        border-top: 2px solid #dfdfdf;
        p{
            margin: 0 0 0 5px;
        }
        img{
            margin-right: 20px;
        }
        &:last-child{
            border-bottom: 2px solid #dfdfdf;
        }
    }
    &__text{
        font-size: 22px;
        color: #0e0e0e;
        margin-bottom: 50px;
        max-width: 420px;
    }
    &__wrapper{
        @include display(flex);
        @include justify-content(flex-start);
        @include align-items(center);
    }
    &__desc{
        margin: 0 0 0 40px;
        font-size: 22px;
        color: #0e0e0e;
        span{
            font-size: 30px;
        }
    }
    &__input{
        width: 100% !important;
        height: 62px !important;
        border-radius: 6px !important;
        box-sizing: border-box !important;
        box-shadow: none !important;
        outline: none !important;
        border: 1px solid #9b9b9b !important;
        padding-left: 25px !important
    }
    &__textarea{
        width: 100% !important;
        height: 192px !important;
        border-radius: 6px !important;
        box-sizing: border-box !important;
        box-shadow: none !important;
        outline: none !important;
        border: 1px solid #9b9b9b !important;
        padding: 15px 0 0 25px !important;
        resize: none;
        background-color: $whiteColor;
    }
    &__button{
        width: 40%;
        height: 62px;
        border-radius: 4px;
        box-sizing: border-box;
        background: #276cf2;
        border: 0;
        color: #fff;
        font-size: 18px;
        text-transform: uppercase;
        margin-top: 10px; 
        letter-spacing: 0.94px;
        margin-top: 0;
        @include order(1);
    }
    &__ph{
        @include order(2);
        max-width: 50%;
    }
    &__it{
        margin-bottom: 20px;
    }
    &__cont{
        @include display(flex);
        @include justify-content(space-between);
        @include align-items(center);
    }
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .faq__wrapper{
        margin-bottom: 20px;
    }
}

.accordeon{
    border-top: 2px solid #dfdfdf;
    &:last-child{
        border-bottom: 2px solid #dfdfdf;
    }
}
.accordeon-title {
    padding: 15px 0;
    cursor: pointer;
    margin: 0;
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);
    font-size: 20px;
}
  .accordeon-content {
    display: none;
}
  .accordeon-text {
    padding: 15px 0 15px 0px; 
}


.footer-map {
    #map {
        height: 400px;
    }
}